$sidebar-color: #f5f5f5;

$or-grey-lt-000: #f5f5f5;
$or-grey-lt-100: #eeebee;
$or-grey-lt-200: #ececec;
$or-grey-lt-300: #e6e6e6;

$or-grey-dk-000: #959595;
$or-grey-dk-100: #5c5c5c;
$or-grey-dk-200: #444444;
$or-grey-dk-250: #303030;
$or-grey-dk-300: #272727;

$or-purple-000: #555;
$or-purple-100: #444;
$or-purple-200: #333;
$or-purple-300: #222;

$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $or-grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);
$body-text-color: $or-grey-dk-100;
$body-heading-color: $or-grey-dk-300;
$search-result-preview-color: $or-grey-dk-000;
$nav-child-link-color: $or-grey-dk-100;
$link-color: $or-purple-000;
$btn-primary-color: $or-purple-100;
$base-button-color: #f7f7f7;
